body{
  background-color: #32323D;
  color: #fff;
}



svg{
  width: 200px;
  height: 200px;
}

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#40AB5D;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8192_1_);}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8199_1_);}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8206_1_);}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8213_1_);}
.st5{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8220_1_);}
.st6{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8227_1_);}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8234_1_);}
.st8{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8241_1_);}
.st9{fill-rule:evenodd;clip-rule:evenodd;fill:url(#rect8248_1_);}

