body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1d1d24;
  color: #fff;
}

.sideBar{
  width: 220px;
  height: 100vh;
  position: fixed;
  background-color: #32323D;
  color: #fff;
  border-right: 1px solid #6a6a6a;
}

.sideBar img{
  padding-left: 24px;
  width: 120px;
}

.sideBar .nav a{
  fill: #fff;
  padding-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.sideBar .nav ul{
  list-style: none;
  padding: 0;
}

.sideBar .nav ul li{
  padding: 10px 0;
}

.sideBar .nav ul li svg{
  height: 20px;
  width: 20px;
}

.sideBar .nav a:hover{
  fill: #fa4a56;
  color: #fa4a56;
  text-decoration: none;
}

.sideBar .nav a:focus{
  border-left: 4px solid #fa4a56;
  fill: #fa4a56;
  color: #fa4a56;
  text-decoration: none;
}

.play{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #32323D;
  color: #fff;
  border-top: 1px solid #6a6a6a;
}

audio{
  padding-top: 20px;
  width: 500px;
}